<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тренажёры для детей 3-5 лет</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Выберите тренажёр (3-5 лет)</h1>
        <div class="links">
            <a href="{{ url_for('math3_5') }}" class="game-link">1. Математика</a>
            <a href="{{ url_for('pair_game') }}" class="game-link">2. Найди пару</a>
            <a href="{{ url_for('odd_one_out') }}" class="game-link">4. Найди лишнее</a>
            <a href="{{ url_for('reaction_game') }}" class="game-link">4. Определи категорию</a>
        </div>
    </div>
</body>
</html>