<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тренажёры для детей 5-7 лет</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Выберите тренажёр (5-7 лет)</h1>
        <div class="links">
            <a href="{{ url_for('count_items') }}" class="game-link">1. Математика</a>
            <a href="{{ url_for('drag_drop') }}" class="game-link">2.Перетаскивание </a>
        </div>
    </div>
</body>
</html>