<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тренажёры для детей 7-10 лет</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Выберите тренажёр (7-10 лет)</h1>
        <div class="links">
            <a href="{{ url_for('memory_game2') }}" class="game-link">4. Карточки</a>
            <a href="{{ url_for('multiplication_trainer') }}" class="game-link">4. Карточки</a>
            
        </div>
    </div>
</body>
</html>